.next/
node_modules/
coverage/
.env
.firebase/
firebase-debug.log
*storybook.log
storybook-static/

# Keep empty directories with gitkeep files.
.cache/
.cache/**
!.cache/**/
!.cache/.gitkeep
!.cache/**/.gitkeep
database/**
!database/**/
!database/.gitkeep
!database/**/.gitkeep

# Ignore the .idea directory
.idea/