@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000; /* Define your desired foreground color */
  --background: #ffffff; /* Define your desired background color */
}

body {
  color: var(--foreground);
  background: var(--background);
}

.main {
  display: block;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: hsla(0, 0%, 100%, .87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  inset: 0;
  height: 100vh;
  width: 100%;

  /* display: block; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  position: relative;
  top: 10rem;
}

/* text-updater-node */
.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.text-updater-node input {
  border: 1px solid #000;
  height: 20px;
  padding: 5px;
  /* border-radius: 5px; */
  background: white;
}

/* counter-node */
.counter-node {
  height: 70px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
.counter-node button {
  padding: 5px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* custom-node */
.custom-node {
  height: 70px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

/* Styles for the TwinkleStars component */
.twinkle-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensures it stays behind other content */
  background: black; /* Adjust background color as needed */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
}
